################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.vcxproj
*.filters
*.user
*.sln
.vscode/settings.json
.vscode/tasks.json
bin/.DS_Store
bin/bingo-cards.csv
bin/Bingo-Card-Generator
bin/Bingo-Card-Generator.dSYM/Contents/Info.plist
bin/Bingo-Card-Generator.dSYM/Contents/Resources/DWARF/Bingo-Card-Generator
bin/
