################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.vcxproj
*.filters
*.user
*.sln
